<?xml version="1.0"?>
<ruleset name="Network Template Parts">
	<file>.</file>

	<exclude-pattern>build/*</exclude-pattern>

	<rule ref="HappyPrime"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="network-template-parts"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="NTP_"/>
			</property>
		</properties>
	</rule>
</ruleset>
